@model ApUserVM
@{
    ViewData["Title"] = "Delete User";
}

    <div>
        <p><b>Fullname:</b> @Model.Fullname</p>
        <p><b>Username:</b> @Model.Username</p>
        <p><b>Email:</b> @Model.Email</p>
        <p><b>Role:</b> @Model.Role</p>
        <form method="post">
            <button type="submit" class="btn btn-danger mr-2">Delete</button>
            <a asp-action="Index" class="btn btn-dark btn-icon-text">
                Go Back
                <i class="mdi mdi-keyboard-backspace btn-icon-append"></i>
            </a>
        </form>
    </div>

